html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

header {
    background-color: rgb(32, 24, 24);
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8em 2em;
    box-shadow: 0px 5px 20px black;
}

.logo {
    font-size: 20px;
    letter-spacing: 1.5px;
}

.nav-item {
    display: inline-block;
    padding: 0 20px;
    font-size: 16px;
}

.nav-item a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    letter-spacing: 1.5px;
    transition: ease .3s;
}

.nav-item a:hover,
.login-button a:hover {
    color: rgb(190, 42, 42);
}

.nav-item li {
    font-size: 5px;
}

.nav-list ul {
    display: flex;
    align-items: center;
    padding: 0;
}

.nav-list-img:nth-child(1) {
    margin-left: -30px;

}

.nav-list-img:nth-child(3) {
    margin-left: 30px;
    width: 40px;
}


.login-button button {
    padding: 10px 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0.068);
}

.login-button a {
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: ease .3s;
}

.mobile-menu-icon,
.mobile-menu {
    display: none;
}


.side-menu-img {
    width: 40px;
    height: 40px;
    margin-top: -8px;
    border: 1px solid red;
}

/*------------Banner---------------*/
.section {
    background-color: rgba(32, 24, 24, 0.788);
    margin-top: 115px;
    display: grid;
    grid-template: 45% 1fr / 55% 1fr auto;
    padding: 1rem 18rem;
}

.section-text {
    font-size: 28px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    margin-top: 10rem;
    padding: 0;
}

.section-img img {
    width: 40rem;
}

.section-buttons {
    border: none;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.5px;
    background-color: rgba(32, 24, 24, 0.637);
    padding: 15px 50px;
    cursor: pointer;
}

/*-------------Cards---------------*/
.options {
    color: black;
    padding: 10px;
    margin-left: 58%;
}

.games-options {
    display: inline-block;
    background-color: rgb(32, 24, 24);
    margin-top: -200px;
    text-align: center;
    padding: 50px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: ease .3s;
}

.games-options:hover {
    transform: scale(1.1);
    border: 2px solid rgba(255, 255, 255, 0.445);
    opacity: 100%;
}

.game-1,
.game-2 {
    border: 2px solid rgba(255, 255, 255, 0.137);
    margin-left: 1rem;
}

.games-options img {
    width: 40px;
}

.game-title {
    text-align: center;
    font-size: 20px;
    letter-spacing: 1.5px;
    color: white;
    margin: 5px 0;
}


/*---------------Conteúdo---------------*/
.content {
    background-color: rgb(32, 24, 24);
    display: flex;
    flex-direction: column;
    margin-top: -5rem;
}

.content-title {
    text-align: center;
    padding-top: 6rem;
    letter-spacing: 2px;
    font-size: 40px;
}

.guide {
    background-color: rgba(32, 24, 24, 0.952);
    padding: 4rem;
}

.content-btn {
    border: none;
    text-align: center;
}

.content-btn button {
    background-color: rgb(29, 20, 20);
    color: inherit;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 20px 20px;
    letter-spacing: 1.5px;
}

.content-btn a {
    color: inherit;
}

#btn1,
#btn2 {
    cursor: pointer;
    transition: ease .4s;
    color: #dedede;
    border: 2px solid transparent;
}

#btn1:hover,
#btn2:hover {
    color: white;
    border-color: #dedede1a;

}

.content-about {
    padding: 5rem 17rem;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
    font-size: 28px;
    border-radius: 10px;
    display: none;
    word-break: normal;
}

/* --------------lista de Tecnologia---------------*/
.about-list1,
.about-list2 {
    padding: 1rem 18rem;
    font-size: 20px;
    letter-spacing: 1.5px;
    font-weight: 500;
    color: #dedede;
}

.about-list1,
.about-list2 {
    list-style: inside;
}

.about-list1 li:nth-child(2),
.about-list2 li:nth-child(2) {
    padding-top: 2rem;
}

@keyframes changeColor {
    100% {
        color: blue;
        transform: scale(.9);
    }

    50% {
        color: white;
        transform: scale(1);
    }

    0% {
        color: blue;
        transform: scale(.9);
    }
}

.link1,
.link2 {
    padding: 1rem 18rem;
    text-decoration: none;
    font-size: 18px;
    color: rgb(0, 68, 255);
    animation: changeColor 3s infinite;
}

.link1 a,
.link2 a {
    text-decoration: none;
}

.about-list1,
.about-list2,
.link2,
.link1 {
    display: none;
}

.showing {
    display: block;
}



/*----------------Footer------------------*/
.footer {
    background-color: rgb(26, 18, 18);
    box-shadow: 0px 5px 40px rgb(255, 255, 255);
}

.informations {
    justify-content: space-between;
    display: flex;
    padding: 1rem 17rem;

    letter-spacing: 1px;
    color: #dedede;
}

.informations a {
    text-decoration: none;
    color: #dedede;
}



/*--------------Tablet Version-------------*/

@media screen and (max-width: 1024px) {

    /*----seção------*/
    .section {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .section-text {
        padding: 2rem 3rem;
        margin-left: 3rem;
    }

    .section-img {
        padding-bottom: 2rem;
        display: flex;
        justify-content: center;
    }

    .section-img img {
        width: 25rem;
    }


    /* -----conteudo------ */
    .options {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0 20px;
        margin-left: -1.5rem;
    }

    .games-options {
        padding: 2rem 1rem;
    }

    .guide {
        padding: 0rem;
    }

    .content-title {
        padding-top: 10rem;
    }

    .content-about {
        padding: 5rem 3rem;
        text-align: start;
    }

    .content-btn button {
        font-size: 15px;
    }

    .about-btn {
        padding: 10px 10px;
        font-size: 1px;
    }

    .about-list1,
    .about-list2 {
        padding: .5rem 3rem
    }

    .link1,
    .link2 {
        padding: 1rem 4rem;

    }

    .informations {
        padding: .8rem 1rem;
        font-size: 12px;
    }
}

/*--------------Mobile Version-------------*/

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item,
    .login-button,
    .nav-list-img {
        display: none;
    }

    .z {
        display: block;
        width: 50px;
    }

    .centralizer {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 1rem 0;
    }

    .nav-list-img:nth-child(1),
    .nav-list-img:nth-child(3) {
        margin: 0;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-item a {
        text-decoration: none;
        color: inherit;
        font-weight: 500;
        margin: 1em;
        letter-spacing: 1.5px;
    }

    .side-menu-img {
        width: 40px;
        height: 40px;
        background-size: contain;
    }

    .mobile-item {
        padding: .8rem;
    }

    .mobile-item li {
        display: inline-block;
        height: 10px;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu ul {
        padding: 0;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
    }


    /*----seção------*/
    .section {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .section-text {
        padding: 2rem 1rem;
        margin-left: 1rem;
    }

    .section-img {
        padding-bottom: 2rem;
        display: flex;
        justify-content: center;
    }

    .section-img img {
        width: 25rem;
    }


    /* -----conteudo------ */
    .options {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0 20px;
        margin-left: -1.5rem;
    }

    .games-options {
        padding: 2rem 1rem;
    }

    .guide {
        padding: 0rem;
    }

    .content-title {
        padding-top: 10rem;
    }

    .content-about {
        padding: 5rem 3rem;
        text-align: start;
    }

    .content-btn button {
        font-size: 15px;
    }

    .about-btn {
        padding: 10px 10px;
        font-size: 1px;
    }

    .about-list1,
    .about-list2 {
        padding: .5rem 3rem
    }

    .link1,
    .link2 {
        padding: 1rem 4rem;

    }

    .informations {
        padding: .8rem 1rem;
        font-size: 12px;
    }
}